body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}

h1 {
    text-align: center;
}

label {
    font-weight: bold;
}

input {
    padding: 10px;
    width: 250px;
    margin-right: 10px;
}

button {
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
}

.filters {
    margin-top: 15px;
}

#taskContainer {
    margin-top: 20px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.completed span {
    text-decoration: line-through;
    color: gray;
}

.toggle-btn {
    background: green;
    color: white;
    border: none;
    padding: 6px 12px;
    margin-right: 5px;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 6px 12px;
}

#counter {
    margin-top: 15px;
    font-weight: bold;
}